@tailwind base;
@tailwind components;
@tailwind utilities;

.first-custom-gradient {
	background: radial-gradient(
		95.44% 490.36% at 92.87% 11.25%,
		#33a9ff 0%,
		#33fff3 100%
	);
}

.second-custom-gradient {
	background: radial-gradient(
		58.39% 328.01% at 51.32% 69.21%,
		#3da0fc 0%,
		rgba(2, 227, 214, 0.2) 100%
	);
}

html {
	scroll-behavior: smooth;
}
